@tailwind base;
@tailwind components;
@tailwind utilities;

/*
https://bl.ocks.org/alandunning/cfb7dcd7951826b9eacd54f0647f48d3
*/
body {
  background-color: #f1f3f3;
}

.chart {
  background-color: #13f3f3;
}

.grp {
  background-color: #f37c13;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #d4d8da;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #6f257f;
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #f1f3f3;
  stroke: #6f257f;
  stroke-width: 5px;
}

/*
TODO: Add hover fading effects
https://www.w3schools.com/howto/howto_css_transition_hover.asp
*/

.hover-line {
  stroke: #6f257f;
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}
